src/wsdl/localhost_8089/servicio_soap/ClienteController.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://co.edu.eam.ingsoft.distribuidos" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ClienteControllerService" targetNamespace="http://co.edu.eam.ingsoft.distribuidos">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://co.edu.eam.ingsoft.distribuidos" elementFormDefault="unqualified" targetNamespace="http://co.edu.eam.ingsoft.distribuidos" version="1.0">

  <xs:element name="operacionBuscar" type="tns:operacionBuscar"/>

  <xs:element name="operacionBuscarResponse" type="tns:operacionBuscarResponse"/>

  <xs:element name="operacionCrear" type="tns:operacionCrear"/>

  <xs:element name="operacionCrearResponse" type="tns:operacionCrearResponse"/>

  <xs:complexType name="operacionCrear">
    <xs:sequence>
      <xs:element minOccurs="0" name="cliente" type="tns:cliente"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cliente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cedula" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="idCrm" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operacionCrearResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operacionBuscar">
    <xs:sequence>
      <xs:element minOccurs="0" name="cedula" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="operacionBuscarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cliente"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="operacionCrear">
    <wsdl:part element="tns:operacionCrear" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operacionBuscar">
    <wsdl:part element="tns:operacionBuscar" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operacionCrearResponse">
    <wsdl:part element="tns:operacionCrearResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="operacionBuscarResponse">
    <wsdl:part element="tns:operacionBuscarResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClienteController">
    <wsdl:operation name="operacionCrear">
      <wsdl:input message="tns:operacionCrear" name="operacionCrear">
    </wsdl:input>
      <wsdl:output message="tns:operacionCrearResponse" name="operacionCrearResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operacionBuscar">
      <wsdl:input message="tns:operacionBuscar" name="operacionBuscar">
    </wsdl:input>
      <wsdl:output message="tns:operacionBuscarResponse" name="operacionBuscarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClienteControllerServiceSoapBinding" type="tns:ClienteController">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="operacionCrear">
      <soap:operation soapAction="crearCliente" style="document"/>
      <wsdl:input name="operacionCrear">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="operacionCrearResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="operacionBuscar">
      <soap:operation soapAction="buscarCliente" style="document"/>
      <wsdl:input name="operacionBuscar">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="operacionBuscarResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteControllerService">
    <wsdl:port binding="tns:ClienteControllerServiceSoapBinding" name="ClienteControlPort">
      <soap:address location="http://localhost:8089/servicio_soap/ClienteController"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>